@font-face {
    font-family: 'nlicons';
    src: asset-url('nlicons.eot');
    src: asset-url('nlicons.eot?#iefix') format('embedded-opentype'),
         asset-url('nlicons.woff') format('woff'),
         asset-url('nlicons.ttf') format('truetype'),
         asset-url('nlicons.svg#nlicons') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* general style for the form */

.nl-form2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nl-form2 {
    font-size: 28.17px;
    width: 85%;
    margin: 0 auto;
    height: 300px;
    position: relative;
    color: #464961;
    float: left;
    position: relative;
    top: 35%;
    transform: translateY(-50%);
}
.nl-form2 .nl-submit {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 238px;
    margin: 0 auto;
    float: none;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    font-size: 28px;
    font-weight: 700;
    background: #0ec1a1;
    text-transform: uppercase;
    color: white;
    transition: all 0.3s ease;
    padding: 10px 50px;
    z-index: 2;
}
/* normalize the input elements, make them look like everything else */

.nl-form2 input:not([type="checkbox"]), .nl-form2 select, .nl-form2 button {
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: 28.17px;
    color: white;
    font-weight: inherit;
    line-height: inherit;
    display: inline-block;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.nl-form2 input:focus {
    outline: none;
}
/* custom field (drop-down, text element) styling  */

.nl-field {
    display: inline-block;
    position: relative;
}
.nl-field.nl-field-open {
    z-index: 10000;
}
/* the toggle is the visible part in the form */

.nl-form2 .nl-field-toggle, .nl-form2 input, .nl-form2 select {
    line-height: inherit;
    display: inline-block;
    color: #464961;
    cursor: pointer;
    border: none;
    font-size: 28.17px;
}
/* drop-down list / text element */

.nl-field ul {
    border-radius: 3px;
    position: absolute;
    visibility: hidden;
    background: #ecf0f1;
    left: -0.5em;
    top: 50%;
    opacity: 0;
    -webkit-transform: translateY(-40%) scale(0.9);
    -moz-transform: translateY(-40%) scale(0.9);
    transform: translateY(-40%) scale(0.9);
    -webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}
.nl-field.nl-field-open ul {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    -webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
    transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
}
.nl-field ul li {
    color: #464961;
    position: relative;
}
.nl-dd {
    text-align: center;
    margin: 0 auto;
}
.nl-dd ul li {
    padding: 0 1.5em 0 1.5em;
    cursor: pointer;
    white-space: nowrap;
    border-top: 1px solid white;
}
.nl-dd ul li.nl-dd-checked {
    color: #464961;
}
.no-touch .nl-dd ul li:hover {
    background: rgba(0, 0, 0, 0.05);
}
.no-touch .nl-dd ul li:hover:active {
    color: #A2A5BB;
}
/* icons for some elements */

.nl-dd ul li.nl-dd-checked:before, .nl-submit:before, .nl-field-go:before {
    font-family: 'nlicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
.nl-dd ul li.nl-dd-checked:before {
    content: "\e000";
    position: absolute;
    right: 1em;
    font-size: 50%;
    line-height: 3;
}
.nl-ti-text ul {
    min-width: 8em;
}
.nl-ti-text ul li.nl-ti-input input {
    width: 100%;
    padding: 0.2em 2em 0.2em 0.5em;
    border-bottom: none;
    color: #fff;
}
.nl-form2 .nl-field-go {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    width: 1.8em;
    text-align: center;
    color: transparent;
}
.nl-field-go:before {
    content: "\e001";
    font-size: 75%;
    color: #fff;
    width: 100%;
    line-height: 2.5;
    display: block;
}
/* custom placeholder color */

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}
input:active::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
}
input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}
input:active::-moz-placeholder, input:focus::-moz-placeholder {
    color: rgba(255, 255, 255, 0.2);
}
input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}
input:active::-ms-input-placeholder, input:focus::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
}
/* example field below text input */

.nl-ti-text ul li.nl-ti-example {
    font-size: 40%;
    font-style: italic;
    font-weight: 400;
    padding: 0.4em 1em;
    color: rgba(0, 0, 0, 0.2);
    border-top: 1px dashed rgba(255, 255, 255, 0.7);
}
.nl-ti-text ul li.nl-ti-example em {
    color: #fff
}

.nl-form2 .nl-submit:before {
    display:none;
}
.no-touch .nl-form2 .nl-submit:hover, .no-touch .nl-form2 .nl-submit:active {
    background: #56596F;
}
.no-touch .nl-form2 .nl-submit:hover:before {
    background: #23263C;
}
.your-name.boxes {
    height: 100px;
}
