 <div class="button-container"> 
	<div class="section" id="upload-container">
		<tr>
		
		</tr>	
	</div>
  	<div class="section or">
		<p>—OR—</p>
	</div>
	<div class="section">
		<a href="javascript:toggleDiv('div3');">
			<%= button_to "Search" , "javascript:toggleDiv('div2');", class: "search-button button" %>
		</a> 
  	</div>
 </div> 